@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}
/*#main_contents가 전체 화면만큼 적용하기 위해서 html과 body부분에도 똑같이 적용해준다.*/
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #FAF1BE;
    color: #000;
    font-family: "NEXON Lv1 Gothic OTF";
}

#main_contents{/*전체 화면으로 설정해 주기 위해서 크기를 100%로 지정하지만 이것만 css를 적용하면 콘텐츠 크기 만큼만 적용된다.*/
    display: flex;/*flex box를 사용해서 레이아웃을 설정. 해당하는 요소를 블록 타입으로 정의하기 위해 display 속성을 flex로 지정*/
    justify-content: center;/*콘텐츠들을 중앙으로 배치*/
    width: 100%;
    height: 100%;
    margin-top: 100px;/*상단의 여백을 설정*/
}

#main_contents .wrapper {/*콘텐츠를 전체적으로 감싸주는 <div class="wrapper"></div> 높이 길이 배치도 설정*/
    display: flex;
    flex-direction: column;/*column으로 설정해줘서 요소들의 배치방향을 수직으로 변경시켜준다*/
    width: 100%;
    height: 100%;
    max-width: 500px;/*최대 너비를 설정해줘서 내부 콘텐츠들이 너비가 최대 길이보다 커지는 것을 방지해준다*/
}

.title {
    text-align: center;/*중앙정렬*/
    padding-bottom: 50px;/*하단에 여백을 준다*/
}

.main_title {/*메인과 서브제목의 스타일을 다르게 줄 것이므로 다른 class를 사용해준다.*/
    font-family: "GmarketSansBold";
    font-size: 50px;
    padding-bottom: 15px;
}

.sub_title {/*글자의 크기, 굵기 그리고 색상 지정*/
    font-size: 20px;
    font-weight: bold;
    color: #7F47DD;
}

.intro { 
    text-align: center;
    padding-bottom: 40px;
}

.intro h1 {
    font-size: 30px;
    padding-bottom: 15px;
}

.type {
    font-size: 25px;
    line-height: 3em;
    height: 3em;
    overflow: hidden;/*넘친 콘텐츠들은 숨겨준다*/
}

@keyframes rotate {/*애니메이션을 적용해주는데 규칙을 사용한다 키프레임을 사용해서 y축 수직방향으로 이동 효과를 만들어준다*/
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(-40%);
    }
    75% {
        transform: translateY(-60%);
    }
    100% {
        transform: translateY(-80%);
    }
}

.type_list {/*애니메이션 효과 */
    animation-name: rotate; /*중간 상태를 기술해준다. 기본 속성으로 따로 지정하지 않아도 된다*/
    animation: rotate 7s infinite;/*한 사이클을 완료하는데 걸리는 시간*/
    animation-iteration-count: infinite;/* 애니메이션이 무한히 반복되도록 하는 것이 기본 설정*/
}

.button {
    text-align: center;
    padding-bottom: 50px;
}

.button button{
    width: 300px;
    height: 50px;
    padding: 5px;
    border-style: none; /*버튼의 테두리를 없앤다*/
    border-radius: 10px; /*버튼의 모서리를 둥글게 설정해준다*/
    font-family: "NEXON Lv1 Gothic OTF"; 
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color: #7F47DD;
    cursor: pointer; /*요소 위에 마우스 커서가 올라갈 시 모양을 지정한다*/
    margin-bottom: 20px;
}

.button button:hover{ /*버튼에 마우스 커서가 올라갈 때 효과 가상의 클래스 :hover를 사용해준다*/
    text-decoration: underline;/*마우스 오버시 밑줄이 생기도록 한다*/
}

.result_data {
    display: flex;
    justify-content: center;
}

.result_data .data_wrap {
    width: 270px; /*300이 아닌 270인 이유는 padding 값을 15px씩 주어서 300px를 하면 실제로는 330이 되기 때문*/
    padding: 15px;
    border-top: 3px solid #000; /*요소 테두리를 설정하는데 두께가 3px인 직선 검은색 테두리를 설정*/
    border-bottom: 3px solid #000;
    line-height: 1.5; /*행간 설정*/
    margin-bottom: 50px;
}

.result_data h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 30px;   
}

.result_data li {
    font-size: 15px;
    padding-bottom: 20px;
}

.weniv {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.weniv a {
    width: 100px;
}

.weniv img{
    width: 100%;
    height: auto;
}